section.advantages
	.container.advantages__container
		+title('Будьте уверены - ваше <br>' +
		'мероприятие пройдет <br>' +
		'на самом высоком уровне', '', 'advantages__title')
		.advantages__grid
			.advantages__item
				p.digit 01
				p.text Более 7 лет проводим прямые эфиры
			.advantages__item
				p.digit 02
				p.text Есть свой интернет и усилитель сигнала
			.advantages__item
				p.digit 03
				p.text Разрабатываем и внедряем квизы с качественным оформлением
			.advantages__item
				p.digit 04
				p.text Предоставляем большой выбор TOP-модераторов
			.advantages__item
				p.digit 05
				p.text Организуем синхронный перевод на любые языки
			.advantages__item
				p.digit 06
				p.text Высококлассный режиссерский монтаж и оформление в прямом эфире