section.calculate
	.container.calculate__container
		+title('Наш онлайн калькулятор <br>' +
		'составит вам смету прямо сейчас, <br>' +
		'и вы сразу сможете отправить <br>' +
		'ее в формате КП себе на почту', 'Если вы сомневаетесь как заполнить калькулятор, чтобы рассчитать максимально точную стоимость вашего мероприятия, <br>' +
		'напишите в вотсап аккаунт менеджеру или позвоните ей, она поможет: +7 /966/ 362-32-62')
		.calculate__subtitle Данная смета рассчитывается для всех онлайн мероприятий с выездом на локацию Заказчика, или мы сами можем предложить вам как конференцзал, <br>
			|  так и небольшую студию, если зрителей “вживую” в любом случае не будет. В дополнительных услугах (ниже) вы сможете учесть приблизительный бюджет, <br>
			|  а мы вам вышлем на почту варианты студий с ценами - за час или за день.
		include calculator.pug