.calculator
	.calculator__title Заполните все ячейки онлайн калькулятора
	table
		tr
			td
				p.title Сколько часов в сумме будет длиться ваше мероприятие? <br> Даже если оно длится несколько дней и делится на несколько потоков.
				p.text Например, мероприятие 2 дня, в 2-х залах - 5 часов в одном и 6 часов в другом <br> будет рассчитано, как (5+6)*2 = 22 часа.
			td
				input.field.calculator__cell-sm(type='text')
		tr
			td
				p.title Сколько дней будет проходить ваше мероприятие?
			td
				input.field.calculator__cell-sm.error(type='text')
		tr
			td
				p.title Накладываются ли эти часы друг на друга? Другими словами, в рамках вашего мероприятия <br> есть ли параллельные потоки?
					|  Если так, то сколько часов в рамках этого мероприятия будут <br> параллельными?
				p.text Например, в одном зале 6 часов и в другом - 6 часов в то же самое время, значит кол-во параллельных <br>
					|  часов = 6. Если нисколько, укажите цифру ноль!
			td
				input.field.calculator__cell-sm(type='text')
		tr
			td
				p.title Вы хотите один ракурс, два или съемку сразу с трех камер? Укажите 1, 2 или 3 камеры?
				p.text Чем больше ракурсов, тем динамичнее смена кадров и более увлекательно смотрится мероприятие.
					|  Мы советуем заказывать 2 камеры - одна статичная на штативе лицом, другая подвижная работает с более крупными планами
					|  с других ракурсов - на стедикаме (подвижная камера), для более масштабных мероприятий - на кране или на рельсах.
			td
				input.field.calculator__cell-sm(type='text')
		tr
			td
				p.title Сколько будет спикеров вживую?
			td
				input.field.calculator__cell-sm(type='text')
		tr
			td
				p.title Сколько будет пдключаться спикеров?
			td
				input.field.calculator__cell-sm(type='text')
		tr
			td(colspan='2')
				input.field.calculator__cell(type='text')
				input.field.calculator__cell(type='text')
				input.field.calculator__cell(type='text')