section.partners
	.container.partners__container
		+title('Это лишь часть компаний, <br>' +
		'с которыми мы работали. <br>' +
		'Есть еще артисты, медицинские ' +
		'ассоциации и компании, которые <br>' +
		'мы не успели сюда внести', '', 'partners__title')
		img(src='./images/partners.jpg', alt='')