section.welcome
	.container.welcome__container
		+title('Мы знаем, что вы планируете\n' +
		'мероприятие в прямом эфире ',
		'Еще мы знаем, что вы не хотите долго ждать, пока вам сформируют коммерческое предложение. <br>' +
		'Именно поэтому мы разработали для вас КП_ОНЛАЙН, где вы получите всю необходимую информацию о наших возможностях <br>' +
		'и, заполнив короткий бриф-калькулятор в конце, сможете отправить себе на почту готовое коммерческое предложение в формате PDF')
